.homebg{
    background-color: #b6f0dd;
    height: 50vw;
    width: 100vw;
    text-align: justify;
}

.bvritimg{
    height: 330px;
    width: 480px;
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
}

.head{
    font-weight: 700;
    font-size: 20px;
}

.content{
    font-weight: 500;
    font-size: 15px;
}